<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="base-body">
<h1>
    <a th:href="@{/}">ひらがなの割合調べる君</a>
</h1>
<div class="divide">
    <div class="box result">
        <div class="info">右側にひらがなの割合を調べたいテキストを入力すると割合を出すよ</div>
        <p class="mascot"><img th:src="@{/img/hiraganasiraberukun.gif}" alt="ひらがな調べる君"></p>
    </div>
    <div class="box">
        <form th:action="@{/ratio}" method="post">
            <textarea placeholder="ひらがなの割合を調べたいテキストを入力" id="input" name="input" cols="30" rows="10"></textarea>
            <button type="submit">調べる！</button>
        </form>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
